@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
*{
 margin: 0px;
 padding: 0px;
}
header{
  background-color: black;
  color: white;
  text-align: center;
  
}
body{
  min-height: 100%;
  background-color: darkgray;
}
header > h1{
  padding-top: 50px;
  font-variant: small-caps;
  font-family: 'Passion One', cursive;
  font-size: 10vw;
}
.normal{
  background-color: white;
  color: black;
font-family: 'Sriracha', cursive;


  
}
.imagem{
 background-color: rgb(53,53,53);
 padding-top: 10vh;
 padding-bottom: 10vh;
 box-shadow: inset 3px 3px 7px 0px black;
}
.imagem > p{
  background-color: rgba(0,0,0,0.265);
  padding: 5px;
  font-family: 'Sriracha', cursive;
  display: inline-block;
  text-shadow: 2px 2px 2px black;
}
.imagem2{
 background-color: rgb(53,53,53);
 padding-top: 10vh;
 padding-bottom: 10vh;
 box-shadow: inset 6px 6px 13px 0px black;
 
}
.imagem2 > p{
  background-color: rgba(0,0,0,0.265);
  display: inline-block;
  font-family: 'Sriracha', cursive;
  padding: 5px;
  text-shadow: 2px 2px 2px black;
  
  
}
a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

a:hover{
  text-decoration: underline;
}
section > p{
  padding-bottom: 2em;
  font-size: 2vh;
  font-family: 'Sriracha', cursive;
  padding-top: 2em;
}
#img1{
  background-image: url('/fotos/por-sol.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
#img2{
  background-image: url('/fotos/sol.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  
}
footer{
  background-color: black;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}